
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Nunito', sans-serif;
	margin:0;
    font-size: 20px;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
.background-video {
	position: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	width: 100%;
	height:100%;
}
.center-container,.ban-shade {
    min-height: 730px;
}
.logo {
    float: left;
    margin: 14px 0 0 25px;
}
.top-nav{
	float:right;
    margin-right: 25px;
}
.ban-shade {
    background: rgba(0, 0, 0, 0.5);
}
.top-nav ul li:nth-child(7) {
    border: 1px solid #fff;
	outline:none;
}
.top-nav ul li a.active{
	color:#E21737 !important;
}
.nav > li > a {
    padding: .3em .8em .3em .8em;
}
.nav > li > ul {
    top: 44px;
}
.nav > li {
    margin: 0 4px;
}

/*-- Kumya --*/
.logo a {
    font-weight: 500;
    color: #e21737;
    text-transform: uppercase;
    text-decoration: none;
}
.link--kumya {

	overflow: hidden;
	line-height: 1;
	text-decoration:none;
	color:#dec689;
}

.link--kumya:hover {
	color: #fff;
}

.link--kumya::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	background: #242424;
	-webkit-transform: translate3d(101%,0,0);
	transform: translate3d(101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--kumya span {
	display:inline-block;
	position: relative;
}

.link--kumya span::before {
	content: attr(data-letters);
	position: absolute;
	color:#dec689;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover span::before {
	width: 100%;
}
/*-- //Kumya --*/

.header-nav {
    padding: 5px 0 17px 0;
    border-bottom: 1px solid #AFAEAE;
}
.banner-info {
    margin-top: 12em;
	text-align:center;
}
.banner-info h3 {
    color: #dcdcdc;
    font-size: 26px;
    text-transform: uppercase;
}
.banner-info h2 {
    color: #fff;
    font-size: 3em;
    margin: 2em 0;
    text-transform: uppercase;
}
.banner-info p {
    color: #D2D0D0;
    font-size: 23px;
    width: 70%;
    margin: 0 auto 3.5em;
    line-height: 1.8em;
}
.banner-info a{
	font-size:18px;
	color:#fff;
	background:#E21737;
    padding: 20px 50px;
	text-decoration:none;
}
/* Shutter In Vertical */
a.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background:#dec689;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fff;
}
a.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#E21737; 
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-shutter-in-vertical:hover,a.hvr-shutter-in-vertical:focus,a.hvr-shutter-in-vertical:active {
  color: white;
}
a.hvr-shutter-in-vertical:hover:before,a.hvr-shutter-in-vertical:focus:before,a.hvr-shutter-in-vertical:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
/*--banner-bottom--*/
.about-left {
    padding: 8em 0 8em 17em;
    text-align: right;
}
.about-left h3 {
    color: #E21737;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 0.8em;
}
.about-left p {
    line-height: 2em;
    color: #464646;
    font-size: 14px;
}
.about-right{
    padding: 8em 17em 8em 1em;
}
.hi-icon-effect-4 .hi-icon.icon1 {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    background: url(../images/icon1.png) no-repeat center;
}
.hi-icon-effect-4 .hi-icon.icon2 {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    background: url(../images/icon2.png) no-repeat center;
}
.hi-icon-effect-4 .hi-icon.icon3 {
    width: 92px;
    height: 92px;
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    background: url(../images/icon3.png) no-repeat center;
}
.hi-icon-wrap {
    padding: 0;
}
.hi-icon {
    margin: 0px;
}
.abt-icon {
    width: 33.333333%;
    float: left;
}
.abt-icon h4 {
    color: #E61737;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 31px;
}
/*--//banner-bottom--*/
/*--content--*/
.content{
	background: url(../images/pic4.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
    min-height: 41em;
    padding: 8em 0 0 0;
}
.content h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
	margin-bottom:1.8em;
}
.content-left h4 {
    color: #E21737;
    font-size: 2.2em;

}
.content-left p,.con-left p {
    font-size: 14px;
    color: #BFBFBF;
    line-height: 2.2em;
}
.content-left p{
	margin:1.8em 0;
}
.con-left {
    float: left;
    width: 46%;
    border: 1px solid #fff;
    padding: 0 2em 2em;
    margin: 0 2%;
}
.con-left:hover{
    border: 1px solid #dec689;	
}
.con-left:hover span.glyphicon {
    color: #fff;
    background: #dec689;
}
.con-left span {
    font-size: 2.5em;
    color: #fff;
    background: #D6D6D6;
    padding: .5em .5em;
    border-radius: 50%;
    top: -37px;
}
.con-left h5 {
    color: #fff;
    font-size: 2.2em;
    margin: -0.6em 0 .4em;
}
.content-right {
    padding-top: 1.5em;
}
.content-left a{
	font-size:1em;
	padding:1em 2em;
	text-transform:uppercase;
}
/*--//content--*/
/*--rooms--*/
.rooms {
    padding: 8em 0;
}
.rooms h3{
    color: #E21737;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 1.8em;
	text-align:center;	
}
/*--accordian--*/
.faculty-list ul li {
    list-style-type: circle;
    line-height: 2.2em;
    padding-left: 8px;
}
/* start tabs */
/******** SAP ************/
.sap_tabs{
	clear:both;
	padding: 0em 0 0em;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	list-style: none;
    margin: 0 0 3em 0;
    padding: 0;
}
.resp-tab-item{
	color:#E21737;
    font-size: 1.2em;
    cursor: pointer;
    padding: 13px 30px;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
    margin: 0 0.5em 0 0;
    font-family: 'Nunito', sans-serif;
}
.resp-tab-active{
  text-shadow: none;
  color:#fff;
  background:#dec689;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
	
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
.fac-img img {
    width: 100%;
}
.fac-img{
	float:left;
	width:23%;
	margin-right:2%;
}
.tab_img h4 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    color: #dec689;
}
.tab_img p {
    font-size: 14px;
    line-height: 2.2em;
    margin: 1.5em 0 2.2em 0;
    color: #464646;
}

.best-left ul li {
    list-style-type: none;
    line-height: 2.2em;
    font-size: 14px;
}
.best-left ul li span {
    color: #E21737;
    margin-right: 10px;
}
.best-left ul li a:hover {
    color: #E21737;
}
.best-left ul li a {
    color: #000;
}
.sem-left{
	float:left;
	width:50%;
}
.sem-right{
	float:left;
	width:49.6%;
}
.sem-left img,.sem-right img{
	width:100%;
    border: 2px solid #fff;
}
.sem-best {
    float: right;
    width: 47%;
}
/*-- //accordian --*/
/*-- footer-top --*/
.footer-top{
    background: #f8f8f8;
    padding: 8em 0;	
	border-top: 1px solid #eee;	
}
.footer-top .nav > li {
    display: inline-block;
    float: none;
    background: none;
    width: 9%;
	margin:0 .8em;
}
.footer-top .nav > li  img{
	width:100%;
}
.footer-top .nav > li > a{
	border:none;
	padding:0;
}
.footer-top .nav-tabs {
    border: 1px solid transparent;
	position:relative;
}
.footer-top .nav-tabs > li.active > a, .footer-top .nav-tabs > li.active > a:hover, .footer-top .nav-tabs > li.active > a:focus {
    border: 1px solid #000;
}
.footer-top .nav-tabs > li.active:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 34%;
    top: -14%;
    border-width: 0px 15px 15px 15px;
    border-style: solid;
    border-color: #000 rgba(0, 0, 0, 0);
}
.team-right {
    float: left;
    width: 32%;
    background: #fff;
    padding: 2em 2em;
    position: absolute;
    right: 10%;
    top: 6%;
    border: double #BFBEBE;
}
.tabs-para h5 {
    width: 60%;
    margin: 0 0 3em 0;
    background: #353535;
    padding: 6em 5em 6em;
    position: relative;
    color: #fff;
    line-height: 2.2em;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    float: left;
}
span.quote1 {
    background:url(../images/q1.png) no-repeat 0px 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
	position:absolute;
    top: 12%;
    left: 6%;
}
span.quote2 {
    background:url(../images/q2.png) no-repeat 0px 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
	position:absolute;
    bottom: 17%;
    right: 9%;
}
.bar p{
	color: #949292;
	text-align: right;
	font-size: 14px;
	}
.skills{
	background:#C5C5C5;
	width:100%;
	margin:8px 0;
	height:10px;
	border-radius: 3px;
	}
.skill1, .skill2, .skill3, .skill4{
	background:#E21737;
	height:100%;
	display:block;
	border-radius: 3px;
	}
.tabs-para {
    position: relative;
}
.footer-top h3 {
    color: #E21737;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 1.8em;
    text-align: center;
}
/*-- //footer-top --*/
.footer {
    background: #353535;
    padding: 5em 0;
}
.footer-grid h3, .social-grid h3 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 1.3em;
}
.footer-grid p {
    color: #ABABAB;
    line-height: 2.2em;
    font-size: 14px;
}
.footer-grid ul li{
	list-style-type:none;
	font-size:14px;
	line-height:2.2em;
    color: #ABABAB;

}
.footer-grid ul li a{

    color: #ABABAB;		
}
.footer-grid ul li a:hover{
    color: #E21737;		
}
.social-grid ul {
	border-bottom:1px solid #ababab;
    padding-bottom: 2em;
    margin-bottom: 3em;	
}
.social-grid ul li{
	list-style-type:none;
	display:inline-block;
	margin:0 5px;
}
.social-grid ul li a {
    width: 53px;
    height: 53px;
    display: block;
}
.social-grid ul li a.fb1{
    background:url(../images/social2.png) no-repeat -5px -3px;
}
.social-grid ul li a.fb1:hover {
	transform:rotateY(360deg);
}
.social-grid ul li a.fb2{
    background: url(../images/social2.png) no-repeat -5px -64px;
}
.social-grid ul li a.fb2:hover {
	transform:rotateY(360deg);
}
.social-grid ul li a.fb3 {
    background:url(../images/social2.png) no-repeat -5px -122px;
}
.social-grid ul li a.fb3:hover {
	transform:rotateY(360deg);
}
.social-grid ul li a.fb4{
    background:url(../images/social2.png) no-repeat -5px -183px;
}
.social-grid ul li a.fb4:hover {
	transform:rotateY(360deg);
}
.footer-grid h2 {
	margin-bottom:.5em;
    color: #fff;
    font-size: 1.3em;
}
.social-grid input[type="email"] {
  background:#fff;
  border: none;
  width: 81%;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #c4c4c4;
}
.social-grid form input[type="submit"]{
  background: url(../images/message.png) no-repeat 2px 9px #ffffff;
  width: 44px;
  height: 38px;
  border: none;
  margin: 0 0 0 -4px;
  padding:0;
  outline:none;
}
.copy-right p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 4em;
}
.copy-right p a {
    color: #fff;	
}
.copy-right p a:hover {
    color: #E21737;	
}
/*-- //footer --*/
/*-- login --*/
.modal-header {
    border: none;
}
button.close{
	outline:none;
}
.modal-dialog {
    width: 600px;
    margin: 13em auto 0;
}
.port-modal{
	background:none;
	box-shadow:none;
	border:none;
}
div#portfolioModal1,div#portfolioModal2,div#portfolioModal3,div#portfolioModal4,div#portfolioModal5,div#portfolioModal6,div#portfolioModal7,div#portfolioModal8,div#portfolioModal9,div#portfolioModal10 {
    background: rgba(0, 0, 0, 0.55);
}

/*-- portfolio --*/

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}
#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
	font-size: 35px;
}
#portfolio * {
    z-index: 2;
}
@media(min-width:767px) {
    #portfolio .portfolio-item {
    margin: 0 0 30px;
    }
}

.portfolio-modal .modal-content h3 {
    margin: 0;
    font-size: 3em;
	color: #fff;
}
.portfolio-modal .modal-content img {
    margin: 0 auto;
}
.portfolio-modal .modal-content p {
	font-size: 14px;
    padding: 2em 0;
    line-height: 1.8em;
    color: #fff;
}
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
}
.portfolio-modal .close-modal:hover {
    opacity: .7;
}
.col-lg-offset-2 {
    margin-left: 0;
	margin:30px auto 0;
	float:none;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/*-- /Portfolio --*/













.login-right{
	float:right;
	width:51%;
}
.login-right h3{
    color: #E21737;
    font-weight: normal;
    font-size: 1.6em;
}
.login-left {
    float: left;
    width: 42%;
}
.login-right input[type="text"] ,.login-right input[type="password"] {
    width: 100%;
    padding: 10px;
    font-weight: normal;
    background: none;
    border: 1px solid #E6E4E4;
    color: #D2D1D1;
    outline: none;
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
}
.login-right h4{
	color:#E21737;
	font-size:12px;
	margin:20px 0;
}
.login-right h4 a{
	color:#E21737;
	text-decoration:none;
}
.login-right h4 a:hover{
	color:#A9A8A8;
}
.login-right input[type="submit"] {
  background:#E21737;
  color: #fff;
  font-size: 20px;
  border: none;
  width: 100%;
  outline: none;
  -webkit-appearance:none;
  padding: 10px 15px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
 font-family:'Nunito', sans-serif;
 margin-top:20px;
}
.login-right input[type="submit"]:hover {
	background:#dec689;
}
.login-grids p {
    font-size: 12px;
    margin-top: 25px;
	color:#A9A8A8;
}
.login-grids p a{
	color:#E21737;	
	text-decoration:none;
}
.login-left ul li{
	list-style-type:none;
	display:block;
    margin: 22px 0;
    font-size: 16px;
}
.login-left ul li a{
    padding: 9px 0;
    display: block;
    text-align: center;
    color: #fff;
	text-decoration:none;
}
.login-left ul li a:hover{
	opacity:.7;
}
.login-left ul li a.fb{
	background:#3b5998;
}
.login-left ul li a.goog{
	background:#dc4e41;
}
.login-left ul li a.linkin{
	background:#00a0dc;
}
.login-left ul li a.fb i{
    background: url(../images/social.png) no-repeat -32px 0px;
    width: 47px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
.login-left ul li a.goog i{
    background: url(../images/social.png) no-repeat -88px 0px;
    width: 29px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
.login-left ul li a.linkin i{
    background: url(../images/social.png) no-repeat 2px 0px;
    width: 40px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
/*-- //login --*/
/*-- about --*/
.page-head{
background:url(../video/shu.mp4) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
}

.about-page,.typrography,.gallery ,.contact,.courses_box1{
    padding: 6em 0;
}
.about-gd-left{
	float:left;
	width:19%;
}
.about-gd-right{
	float:right;
	width:78%;
}
h3.tittle {
    margin-bottom: 2em;
    text-align: center;
    color: #E21737;
    font-size: 2.5em;
    text-transform: uppercase;
}
.about-grid h4 {
    color: #000;
    font-size: 2em;
}
.about-gd-left h5 {
    color: #dec689;
    font-size: 1.8em;
}
.about-gd-right p {
    font-size: 14px;
    color: #464646;
    line-height: 2.2em;
}
.about-gd {
    margin-top: 1.4em;
}
/*-- history --*/
.history-left-grid p{
	font-size:1em;
	color:#a5a5a5;
	margin:0;
	padding-left: 1em;
}
.glyphicon-calendar {
  left: -13px;
}
.history-right h4{
    color: #dec689;
    font-size: 1.8em;
    margin: .8em 0;
    text-transform: capitalize;
}
.history-left-grid h4{
    color: #dec689;
    font-size: 1.8em;
    margin: .5em 0;
    text-transform: capitalize;
}

p.aut,.history-right p{
	color:#464646;
	font-size:14px;
	margin:0;
	line-height:2.2em;
	padding: 0;
}
.history-left-grid:nth-child(3){
	margin:2em 0;
}

.history-right ul{
	padding:2em 0 0;
}
.history-right ul li{
	list-style-type:none;
    display: block;
	line-height:2.5em;
}
.history-right ul li a{
    font-size: 14px;
    color: #464646;
    text-decoration: none;
    text-transform: capitalize;
}
.history-right ul li a:hover{
	text-decoration:none;
	color: #E21737;
}
.history-left-grid:nth-child(2) {
    margin: 3em 0;
}
.history {
    padding: 6em 0;
    background: #f7f7f7;
    border-top: 1px solid #eee;
}
.history-right ul li a span {
    color: #E21737;
    margin-right: 18px;
}
/*-- //history --*/
/*-- //about --*/
/*--trypography--*/
.grid_4{
	background:#fff;
	padding:0em 0em 0em 0em;
}  
.grid_5{
	background:#fff;
	padding:1em 0 2em 0;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.8em;
  color: #999;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h4.typ1{
	margin-bottom:15px;
}
h5.typ1{
	margin-bottom:15px;
}
.progress {
  height: 8px;
  box-shadow: none;
}
.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #03a9f4;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-bar {
  box-shadow: none;
}
.progress-bar-primary {
  background-color: #03a9f4;
}
.progress-bar-info {
  background-color: #00bcd4;
}
.progress-bar-success {
  background-color: #8bc34a;
}
.progress-bar-warning {
  background-color: #ffc107;
}
.progress-bar-danger {
  background-color: #e51c23;
}
.progress-bar-inverse {
  background-color: #757575;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:#5bb2fc !important;
  border-color:#5bb2fc !important;
}
.grid_3 p,.page-header p {
  color: #888;
  font-size: 14px;
  line-height:2em;
  margin-bottom: 1em;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.breadcrumb li{
	font-size:0.85em;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
h3.bars {
  margin-bottom: 0.8em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
ol {
  margin-bottom: 44px;
}
.list-group {
  margin-bottom: 48px;
}
.input-group {
  margin-bottom: 20px;
}
.grid_3.grid_5 .nav > li > a{
	color:#464646;
	border:none;
}
/*--//trypography--*/
/*-- gallery --*/

.gallery-grid{
	float:left;
	width:33.333333%;
}
.gallery-grid img {
    border: 1px solid #fff;
}
.b-link-diagonal {
    margin-bottom: 0;
}
/*-- //gallery --*/
/*-- contact --*/
.map iframe{
	width:100%;
	min-height:400px;
}
.contact-grdl{
	padding:0 !important;
}
.contact-grdl span{
	color:#CECECE;
	font-size:2em;
}
.contact-grdr ul li{
	list-style-type:none;
	color:#464646;
	font-size:14px;
	margin:0 0 1em;
}

.contact-grdr ul li a{
	color:#dec689;
	text-decoration:none;
	display:block;
	margin:0.6em 0 0;
}
.contact-grdr ul li a:hover{
	color:#464646;
}
.contact-grid input[type="text"],.contact-grid input[type="email"],.contact-grid textarea{
	outline:none;
	border:1px solid #E9E9E9;
	width:100%;
	background:none;
	color:#999;
	font-size:14px;
	padding:12px 10px;
}
.contact-grid input[type="text"]:hover,.contact-grid input[type="email"]:hover,.contact-grid textarea:hover,.newsletter:hover{
    border: 1px solid #E21737;	
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.contact-grid textarea{
	min-height:123px;
	resize:none;
	margin:0 0 .2em;
}
.contact-grid input[type="email"]{
	margin:.5em 0;
}
.contact-grid input[type="submit"]{
	outline:none;
	border:none;
	width:100%;
	background:#dec689;
	color:#fff;
	font-size:18px;
	padding:12px 0px;
	text-transform:uppercase;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
}
.contact-grid input[type="submit"]:hover{
	background:#E21737;
}
.newsletter{
    padding:3.5em 0em 3.5em 0em;
    text-align: center;
    border: 1px solid #E9E9E9;
}
.newsletter h3{
	font-size:1.5em;
	color: #999;
	margin:0;
	text-align: center;
}
.newsletter h3 span{
background:url(../images/message2.png) no-repeat center;
width:30px;
height:30px;
display:block;
margin:0 auto 1em;
}
.map {
    margin-bottom: 5em;
}
.contact-grdr {
    padding: 0;
}
.call:nth-child(2) {
    margin: 2em 0;
}
/*-- //contact --*/
/*-- course_detail --*/
.table-header {
    background:#636363;
}
.course_list .table-header > div {
    float: left;
    padding: 15px 20px;
    color: #ffffff;
    font-size: 20px;
    line-height: 1;
}
.table-header > div.id_col {
    width: 12%;
}
.table-header > div.name_col {
    width: 49%;
}
.table-header > div.duration_col {
    width: 17%;
}
.courses_box1 {
    padding: 5em 0;
}
.course_list .table-list {
    margin: 0;
    padding: 0;
}
.course_list .table-list li {
    float: none;
    margin: 0;
    list-style: none;
    border-bottom: 1px dashed #e2e2e3;
    background-color: #ffffff;
}
.course_list .table-list li > div.id_col {
    width: 12%;
    text-transform: uppercase;
}
.course_list .table-list li > div {
    float: left;
    padding: 15px 20px;
}
.course_list .table-list li > div.name_col {
    width: 49%;
}
.course_list .table-list li > div.duration_col {
    width: 17%;
}
.course_list .table-list li > div.date_col {
    width: 22%;
}
.course_list .table-list li:nth-child(even) {
    background: #F5F5F5;
}
.course_list .table-list li:hover {
    background:#dec689;
    color: #ffffff;
}
.course_list .table-list li .name_col a{
    color: #464646;
	text-decoration:none;
}
.course_list .table-list li:hover .name_col a{
    color: #ffffff;
}
.courses_box1-left{
    background-color: #f2f4f5;
    padding:20px 20px 30px;
}
.select-block1 select {
    box-shadow: none;
    border: 1px solid #e2e2e3;
    border-radius: 0;
    outline: 0;
    background: #ffffff;
    height: 44px;
    line-height: 32px;
    padding: 5px 15px;
    width: 100%;
    color: #a7aebf;
}
.select-block1{
	position:relative;
	margin-top:10px;
}
.course-submit {
    border: none;
    background:#dec689;
    color: #ffffff;
    line-height: 44px;
    padding: 0 30px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0px;
    display: inline-block;
    margin-top: 20px;
    outline: none;
}
.course-submit:hover {
    background:#E21737;
}
.personBox {
    margin: 2em 0 0 0;
}
.person_description{
    margin: 1em 0 0 0;
}
.person_image{
	width: 25%;
    float: left;
    margin-right: 5%;
}
.person_image_desc {
    overflow: hidden;
}
.person_image_desc h6{
    font-size: 1.5em;
    color: #dec689;
    font-style: italic;
    margin: 0px 0 12px 0;
}
.person_image_desc p{
    color: #464646;
    font-size: 12px;
    font-style: italic;
}
.slider h3{
	font-size:1.5em;
	color:#000;
	margin-bottom:0.5em;
}
.person_description p, .banner-info1 p{
    color: #464646;
    font-size: 13px;
    line-height: 2.2em;
}
.person_description p a{
	color:#000;
}
.person_description p a:hover{
	color:#e2598e;
}
.person_mage_desc{
	overflow:hidden;
}
.social-widget {
    margin:2em 0 3em;
}
.social-widget h2{
	font-size:1.5em;
	color:#000;
	margin-bottom:1em;
}
ul.courses_social{
	padding:0;
	margin:0;
	list-style:none;
}
.social-widget ul li.facebook-icon div {
    background-color: #3b59a1;
}
.social-widget ul li {
    text-align: center;
    float: left;
    list-style: none;
    padding: 0 5px;
    width: 33.333333%;
}
.social-widget ul li div {
    padding: 15px 0 10px;
}
.social-widget ul li div a {
    border-radius: 50%;
    width: 40px;
    line-height: 40px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
}
.social-widget ul li div p {
    color: #ffffff;
}
.social-widget ul li.twitter-icon div {
    background-color: #46b0e4;
}
.social-widget ul li.gplus-icon div {
    background-color: #dd4c39;
}
.social-widget ul li div a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.banner-info1 h5{
	margin:1em 0;
	font-size:0.95em;
}
.banner-info1 h5 a{
	color:#000;
}
.banner-info1 h5 a:hover{
	text-decoration:underline;
}
.entry-item .entry-thumb {
    width:22%;
    margin-right: 20px;
}
ul.posts{
	padding:0;
	margin:2em 0 0 0;
	list-style:none;
}
ul.posts h3{
	font-size:1.5em;
	color:#dec689;
	margin-bottom:1em;
}
ul.posts li{
	margin-bottom:2em;
}
.entry-content {
    overflow: hidden;
}
.entry-content h6 {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
}
.entry-content h6 a{
	color:#000;
}
.entry-content h6 a:hover{
	color:#dec689;
}
.entry-content p{
    font-weight: 400;
    font-size:0.95em;
}
.entry-content p a{
	color:#464646;
	text-decoration:none;
}
.entry-content p a:hover{
	color:#dec689;
}
/*-- //course_detail --*/
/*-- single --*/
.detail h3{
	color:#dec689;
	font-size:2em;
	margin: 1em 0 0.5em;
}
.detail p {
    color: #464646;
    font-size: 14px;
    line-height: 2.2em;
    margin-bottom: 2em;
}
.panel-body {
    color: #777;
    font-size: 0.95em;
    line-height: 1.8em;
}
i.icon_3{
	color:#5979CE;
	margin-right: 10px;
}
.panel-group {
    margin-bottom: 3em;
}
.panel-group .panel-default {
    border: 1px solid #eff2f7;
    box-shadow: none;
    margin: 2em 0 0 0;
}
.panel-group .panel-heading {
    padding: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.panel-group .panel-title {
    line-height: 16px;
}
.panel-group .panel-title a {
    display: block;
    padding: 16px 44px 16px 18px;
    font-weight: 400;
    position: relative;
}
.panel-collapse {
    padding: 0 16px;
}
.panel-group .panel-title a:after {
    font-family: fontawesome;
    content: "\f107";
    position: absolute;
    font-size: 16px;
    right: 20px;
    top: 50%;
    margin-top: -8px;
}
.panel-group .panel-title .collapsed:after {
    content: "\f106";
}
.author-box-left{
	float: left;
    width: 10%;
    margin-right: 2%;
}
.author-box-right {
    overflow: hidden;
}
.author-box-right h4{
    color:#000;
    font-size:1.1em;
	margin-bottom: .8em;
}
.author-box-right h4 a:hover{
	color:#000;
}

.author-box {
    margin-bottom: 3em;
}
.comment_section h4, .comment-form h4{
	color: #dec689;
    font-size: 2em;
    margin-bottom: 1em;
}
ul.comment-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.children {
    padding: 0;
    margin: 0 0px 0 20px;
    list-style: none;
}
ul.comment-list li{
	margin-bottom:2em;
}
.author-box_left{
	float:left;
	width:8%;
	margin-right: 2%;
}
.author-box_left img{
	border-radius:100px;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
}
.author-box_right {
    overflow: hidden;
}
.author-box_right h5{
	margin-bottom:5px;
}
.author-box_right h5 a{
	color:#000;
	font-size:1.2em;
	text-decoration:none;
}
.author-box_right h5 a:hover{
	color:#dec689;
}
span.m_1{
	font-style:italic;
	font-size:0.85em;
	color:#CACACA;
}
.search-form .form-control, .comment-form .form-control, .contact_form .form-control, .search_form .form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: none;
    color: #7a7c82;
    display: block;
    font-size: 13px;
    height: 40px;
    line-height: 1.42857;
    margin-bottom: 15px;
    padding: 6px 12px;
    text-transform: none;
    width: 100%;
	resize:none;
}
.search-form .form-control, .comment-form .form-control, .contact_form .form-control {
    margin-bottom: 25px;
    border-color: #d8d8d9;
}
.search-form .form-control:hover, .comment-form .form-control:hover, .contact_form .form-control:hover {
	border-color:#E21737;
}
.comment-form textarea {
    min-height: 168px;
}
.form-submit {
    width: 48%;
    top: -66px;
    position: relative;
    display: inline-block;
}
.comment-form-left{
	padding-left:0;
}
.comment-form-right{
	padding-right:0;
}
.submit_1{
	background-color:#dec689;
    border:none;
    outline:none !important;
}
.submit_1:hover{
	background-color: #E21737 !important;
}
.detail img {
    width: 100%;
}
.form-submit input#submit{
	padding:10px 0;
}
/*-- //single --*/

/*-- responsive media queries --*/

@media (max-width: 1440px){
	.about-left {
		padding: 8em 0 8em 9em;
	}
	.about-right {
		padding: 8em 9em 8em 1em;
	}	
}
@media (max-width: 1366px){
	.about-left {
		padding: 8em 0 8em 7em;
	}
	.about-right {
		padding: 8em 7em 8em 1em;
	}	
}
@media (max-width: 1280px){
	.about-left {
		padding: 8em 0 8em 5em;
	}
	.about-right {
		padding: 8em 5em 8em 1em;
	}
	.team-right {
		width: 36%;
		right: 6%;
	}	
}
@media (max-width: 1080px){
	.map iframe {
		min-height: 320px;
	}
	.footer-grid h3, .social-grid h3 {
		font-size: 1.8em;
	}
	.footer-grid h2 {
		font-size: .7em;
	}
	h3.tittle {
		margin-bottom: 1.5em;
	}
	.course_list .table-list li > div {
		padding: 15px 11px;
	}
	.courses_box1 .col-md-3 {
		padding-right: 0 !important;
	}
	.about-left {
		padding: 5em 0 5em 5em;
	}
	.about-right {
		padding: 5em 5em 5em 1em;
	}
	.abt-icon h4 {
		font-size: 18px;
	}
	.about-left h3,.content h3,.rooms h3,.footer-top h3 {
		font-size: 2em;	
	}
	.content-left h4 {
		font-size: 1.8em;
	}
	.content-left p, .con-left p,.about-left p {
		font-size: 13px;
	}
	.con-left h5 {
		font-size: 1.8em;
	}
	.con-left {
		padding: 0 1em 1em;
	}
	.con-left span {
		font-size: 2em;
		top: -29px;
	}
	.content {
		min-height: 33em;
		padding: 5em 0 0 0;
	}
	.resp-tab-item {
		font-size: 1.1em;
		padding: 8px 14px;
	}
	.faculty-list ul li,.tab_img p,.best-left ul li,.tabs-para h5,.bar p,.footer-grid p,.footer-grid ul li,.about-gd-right p,p.aut, .history-right p,.history-right ul li a,.course_list .table-list li > div,.detail p,.contact-grdr ul li{
		font-size:13px;
	}
	.tab_img h4 {
		font-size: 1.3em;
	}

	.rooms,.footer-top {
		padding: 5em 0;
	}
	.team-right {
		top: 5%;
	}
	.about-grid h4 {
		font-size: 1.8em;
	}
	.about-gd-left h5 {
		font-size: 1.5em;
	}
	.link--kumya {
		font-size: 1em;
	}
	.nav > li > a {
		padding: .2em .8em .2em .8em;
	}
	h3.tittle {
		font-size: 2.2em;
	}
	.about-page, .typrography, .gallery, .contact, .courses_box1,.history {
		padding: 5em 0;
	}
	.footer-grid h3, .social-grid h3 {
		font-size: 1.5em;
	}
	.nav > li:hover > ul {
		margin-top: 8px;
	}
	.select-block1 select {
    height: 36px;
	}
	.banner-info h2{
		font-size:2.2em;
	}
	.center-container, .ban-shade {
		min-height: 641px;
	}
	.banner-info {
		margin-top: 11em;
	}
	.ui-accordion .ui-accordion-header {
    padding: .5em .9em .5em 2.2em !important;
	}
	.course_list .table-header > div {
    padding: 15px 11px;
	}
}
@media (max-width: 1024px){
	.about-left {
		padding: 5em 0 5em 3em;
	}
	.about-right {
		padding: 5em 3em 5em 1em;
	}
	.tab_img p {
		margin: 1em 0 1em 0;
	}
	.nav > li {
		margin: 0 0px;
	}
	.nav > li > a {
		padding: .2em .7em .2em .7em;
	}	
}
@media (max-width: 991px){
	.about-left {
		float: left;
		width: 47%;
	}
	.about-right {
		float: right;
		width: 53%;
	}
	.abt-icon h4 {
		font-size: 15px;
	}
	.hi-icon-effect-4 .hi-icon.icon2,.hi-icon-effect-4 .hi-icon.icon1,.hi-icon-effect-4 .hi-icon.icon3 {
		width: 80px;
		height: 80px;
	}
	.about-left {
		padding: 5em 0 5em 2em;
	}
	.about-right {
		padding: 5em 2em 5em 1em;
	}
	.content-left {
		padding: 0;
		float: left;
		width: 50%;
	}	
	.content-right {
		float: right;
		width: 50%;
	}
	.content-left h4 {
		font-size: 1.5em;
	}
	.content-left p, .con-left p {
		line-height: 2em;
	}
	.about-left h3, .content h3, .rooms h3, .footer-top h3 {
		font-size: 1.8em;
	}
	.content-left a {
		padding: .8em 1em;
	}
	.content-right {
		padding: 1.5em 0 0 1em;
	}
	.con-left h5 {
		font-size: 1.5em;
	}
	.con-left {
		padding: 0 .5em .8em;
	}
	.content {
		min-height: 32em;
	}
	.room-left {
		padding-left: 0;
		float: left;
		width: 34%;
	}
	.room-right {
		float: right;
		width: 66%;
		padding-right: 0;
	}
	.ui-accordion .ui-accordion-content {
		padding: 1em 0em 1em 1.8em !important;
	}
	.resp-tab-item {
		font-size: 1em;
		padding: 5px 8px;
	}
	.tab_img h4 {
		margin-bottom: .8em;
		font-size: 1.1em;
	}
	.sem-best {
		float: right;
		width: 49%;
	}
	.tabs-para h5 {
		padding: 5em 2em 5em;
	}
	ul#myTab {
		display: block;
	}
	.team-right {
		width: 42%;
		right: 0%;
	}
	.footer-top .nav > li {
		width: 12%;
	}
	.footer-grid{
		float: left;
		width: 28%;
	}
	.social-grid {
		float: left;
		width: 44%;
	}
	.footer-grid:nth-child(1) {
		width: 100%;
		margin-bottom:2.5em;
	}
	.top-nav {
		width: 50%;
	}
	.nav > li > a {
		padding: 1em 1em;
	}
	.nav > li > a {
    font-size: .9em;
	}
	.contact-grid {
		float: left;
		width: 33.3333%;
	    padding: 0 10px;
	}
	.contact-grdl {
		float: left;
		width: 22%;
	}
	.contact-grid input[type="text"], .contact-grid input[type="email"], .contact-grid textarea {
		padding: 9px 10px;
	}
	.newsletter {
    padding: 3.3em 0em 3.3em 0em;
	}
	.nav > li:hover > ul {
    margin-top: 0px !important;
}
.courses_box1 .col-md-9 {
    padding: 0;
}
.courses_box1 .col-md-3 {
    padding: 0 !important;
    margin-top: 2.5em;
}
.person_image {
    width: 18%;
    float: left;
    margin-right: 0;
}
.person_image_desc h1 {
    margin: 20px 0 12px 0;
}
ul.posts li {
    margin-bottom: 0em;
    float: left;
    width: 33.3333%;
}
.comment-form-right {
    padding: 0;
}
.form-submit {
    width: 20%;
    top: 0px;
}
.comment-form-left {
    padding: 0;
}
.about-grid {
    padding: 0;
}
.about-grid:nth-child(2) {
    margin-top: 2.5em;
}
.banner-info h2 {
    font-size: 2em;
}
.banner-info h3 {
    font-size: 22px;
}
.banner-info a {
    font-size: 18px;
    padding: 13px 30px;
}
.banner-info {
    margin-top: 7em;
}
.center-container, .ban-shade {
    min-height: 500px;
}
.about-left {
    padding: 5em 0 5em 1em;
}
.about-right {
    padding: 5em 1em 5em 1em;
}
.resp-tabs-list {
    margin: 0 0 2.2em 0;
}
.top-nav ul li:nth-child(7) {
    border: none;
}
.history-left,.history-right {
    padding: 0;
}
}
@media (max-width: 800px){
	
}
@media (max-width: 768px){
	.contact-grid textarea {
		min-height: 120px;
	}
	.map iframe {
		min-height: 275px;
	}
}
@media (max-width: 736px){
	.about-left {
		float: left;
		width: 48%;
	}
	.about-right {
		float: right;
		width: 52%;
	}
	.banner-info h2 {
		font-size: 1.8em;
	}	
	.room-right {
		padding: 0;
	}
	.resp-tab-item {
		font-size: .9em;
	}
	.tab_img h4 {
		line-height: 1.3em;
	}
}
@media (max-width: 667px){
	.footer-grid {
		float: left;
		width: 32%;
		padding-left:0;
	}
	.social-grid {
		float: left;
		width: 36%;
		padding: 0;
	}
	.social-grid input[type="email"] {
		width: 80%;
	}
	.social-grid ul li {
		margin: 0 0px;
	}
	.copy-right p {
		font-size: 13px;
	}
	.course_list .table-list li > div,.course_list .table-header > div {
		padding: 15px 8px;
	}
	/*--typo--*/
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 9px!important;
	}
	.table h1 {
		font-size: 28px;
	}
	.table h2 {
		font-size: 25px;
	}
	.table h3 {
		font-size: 22px;
	}
	h1.t-button, h2.t-button, h3.t-button, h4.t-button, h5.t-button {
		font-size: 16px;
	}
	/*--//typo--*/	
}
@media (max-width: 640px){
	.map {
		margin-bottom: 4em;
	}
	.footer-grid:nth-child(1) {
		width: 50%;
		margin-bottom:0;
	}
	.footer-grid {
		float: left;
		width: 50%;
	}
	.social-grid {
		float: left;
		width: 50%;
	}
	.top-nav {
		margin: 13px 20px 0 0px;
	}	
	.footer-grid:nth-child(3),.social-grid {
		margin-top: 3em;
	}
	.contact-grid input[type="submit"] {
		font-size: 14px;
		padding: 9px 0px;
	}
	.banner-info h3 {
		font-size: 18px;
	}
	.banner-info h2 {
		font-size: 1.5em;
	}
	.banner-info a {
		padding: 9px 20px;
	}
	.center-container, .ban-shade {
		min-height: 410px;
	}
	.banner-info {
		margin-top: 6em;
	}
	.about-left {
		width: 100%;
		text-align: center;
		padding: 5em 1em 0em 1em;
	}
	.about-right {
		float: right;
		width: 100%;
	}
	.content-left {
		width: 100%;
	}
	.content-right {
		float: right;
		width: 100%;
	}
	.content-left a {
		padding: .5em 1em;
	}
	.content-right {
		float: right;
		width: 100%;
		margin-top: 3em;
	}
	.content {
		min-height: 43em;
	}
	.room-left {
		width: 100%;
		padding: 0;
	}
	div#ui-id-2 {
		height: 173px !important;
	}
	.room-right {
		width: 100%;
		margin-top: 3em;
	}
	.content-right {
		padding: 1.5em 0 0 0;
	}
	.con-left {
		padding: 0 1.5em 1.8em;
	}
	.tabs-para h5 {
		line-height: 2em;
	}
	.tabs-para h5 {
		padding: 4em 2em 4em;
	}
	span.quote2 {
		bottom: 11%;
	}
	span.quote1 {
		top: 7%;
	}
	.team-right {
		top: 8%;
	}
	.footer-top .nav > li {
		width: 14%;
	}
	.course_list .table-list li > div, .course_list .table-header > div {
		padding: 15px 6px;
	}
	.modal-dialog {
		width: 430px;
		margin: 7em auto 0;
	}
	.login-left {
		float: left;
		width: 100%;
	}
	.login-right {
		float: right;
		width: 100%;
	}
	ul.posts li {
		margin-bottom: 1em;
		float: left;
		width: 100%;
	}
	.entry-item .entry-thumb {
		width: 24%;
		margin-right: 0;
	}
	.entry-content h6 {
		margin: 15px 0;
	}
	.person_image {
    width: 26%;
	}
}
@media (max-width: 600px){
	.contact-grid {
		float: left;
		width: 100%;
	}
	.call {
		float: left;
		width: 33.333%;
		margin: 0 !important;
	}
	.contact-grid {
		padding: 0;
	}	
	.contact-grid:nth-child(2) {
		margin: 3em 0;
	}
	.course_list .table-list li > div, .course_list .table-header > div {
		padding: 15px 2px;
	}
}
@media (max-width: 568px){
	.course_list .table-list li > div, .course_list .table-header > div {
		padding: 15px 2px;
		text-align: center;
	}
	.banner-info h2 {
		font-size: 1.3em;
	}
	.banner-info h3 {
		font-size: 16px;
	}
	.center-container, .ban-shade {
		min-height: 398px;
	}
	.content {
		min-height: 47em;
	}
	.tabs-para h5 {
		width: 100%;
	}
	.team-right {
		top: 41%;
		width: 67%;
		right: 16%;
	}	
	.tabs-para h5 {
		margin: 0 0 19em 0;
	}
}
@media (max-width: 480px){
	.footer-grid:nth-child(1) {
		width: 100%;
	}
	.footer-grid {
		padding: 0;
	}
	.footer-grid:nth-child(2) {
		margin-top: 3em;
	}
	.social-grid {
		float: left;
		width: 100%;
	}
	.social-grid input[type="email"] {
		width: 89%;
	}
	.link--kumya {
		font-size: .9em;
	}
	.logo a i {
		background: url(../images/logo.png) no-repeat 0px 8px;
		width: 26px;
		height: 32px;
		margin-right: 8px;
		background-size: 100% !important;
	}
	.top-nav {
		margin: 17px 20px 0 0px;
	}
	h3.tittle {
		font-size: 2em;
		margin-bottom: 1.1em;
	}
	.about-page, .typrography, .gallery, .contact, .courses_box1, .history {
		padding: 4em 0;
	}
	.course_list .table-header > div {
		font-size: 15px;
	}
	.course_list .table-list li > div.id_col {
		width: 14%;
	}
	.course_list .table-list li > div.name_col {
		width: 47%;
	}
	.course_list .table-list li > div.duration_col {
		width: 15%;
	}
	.course_list .table-list li > div.date_col {
		width: 24%;
	}
	.table-header > div.duration_col {
		width: 19%;
	}
	.entry-item .entry-thumb {
		width: 32%;
	}	
	.person_image {
		width: 30%;
	}
	.author-box-left {
		width: 19%;
	}
	.author-box_left {
		float: left;
		width: 13%;
	}
	.form-submit {
		width: 28%;
	}
	.footer {
		padding: 3em 0;
	}
	.footer-grid h2 a {
		font-size: .6em;
	}
	.map iframe {
		min-height: 230px;
	}
	.contact-grdl {
		float: left;
		width: 100%;
		text-align: center;
	}
	.contact-grdr {
		padding: 0;
		width: 100%;
		text-align: center;
		margin-top: 1em;
	}
	.map {
		margin-bottom: 3em;
	}
	.banner-info h2 {
		font-size: 1.2em;
	}
	.banner-info {
		margin-top: 4em;
	}
	.center-container, .ban-shade {
		min-height: 340px;
	}
	.about-right {
		padding: 3em 1em 5em 1em;
	}
	.tab_img h4 {
		line-height: 1.1em;
	}
	.banner-info a {
		font-size: 15px;
	}
	.team-right {
		padding: 1em 1em;
	}
	.tabs-para h5 {
		margin: 0 0 18em 0;
	}
	.footer-top .nav > li {
		width: 17%;
	}
	.team-right {
		top: 45%;
	}
	.modal-body {
		padding: 0px 30px 30px;
	}
	.login-right input[type="submit"] {
		padding: 7px 15px;
	}
	.modal-dialog {
		width: 354px;
	}
	.content {
		background: url(../images/pic4.jpg) no-repeat top;
	}
	.login-grids p {
		line-height: 1.8em;
		text-align: center;
	}
	.portfolio-modal .close-modal .lr {
    height: 44px;
	}
	.portfolio-modal .close-modal .lr .rl {
    height: 44px;
	}
	.portfolio-modal .modal-content h3 {
    font-size: 2em;
	}
	.portfolio-modal .modal-content p {
    font-size: 13px;
	}
}
@media (max-width: 414px){
	.logo {
		margin: 14px 0 0 14px;
	}
	.link--kumya {
		font-size: .8em;
	}
	.top-nav {
		width: 47%;
	}
	.about-gd-left h5 {
		font-size: 1.3em;
	}
	.history-left-grid h4, .history-right h4 {
		color: #dec689;
		font-size: 1.6em;
	}
	.social-grid input[type="email"] {
		width: 86%;
	}	
	h3.tittle {
		font-size: 1.8em;
	}
	.course_list .table-header > div {
		font-size: 13px;
	}
	.course_list .table-list li > div.id_col {
		width: 16%;
	}
	.course_list .table-list li > div.name_col {
		width: 45%;
	}
	.table h1 {
		font-size: 24px;
	}
	.table h2 {
		font-size: 24px;
	}
	.call {
		width: 100%;
	}
	.call:nth-child(2) {
		margin: 1em 0 !important;
	}
	.newsletter h3 {
		font-size: 1.3em;
	}
	.top-nav {
		margin: 17px 14px 0 0px;
	}
	.nav > li > a {
		padding: .6em 1em;
	}
	.footer-grid:nth-child(2) {
		margin-top: 2em;
	}
	.footer-grid:nth-child(3), .social-grid {
		margin-top: 2em;
	}
	.nav > li > ul {
		top: 34px;
	}
	.banner-info h2 {
		line-height: 1.5em;
	}
	.banner-info {
		margin-top: 3em;
	}
	.about-left h3, .content h3, .rooms h3, .footer-top h3 {
		font-size: 1.6em;
	}
	.con-left {
		padding: 0 .8em .8em;
	}
	.resp-tab-item {
		margin: 0 1em 0 0;
		font-size: 1em;
	}
	.resp-tabs-list {
		text-align: center;
	}
	.history-right ul {
		padding: 1em 0 0;
	}
	.fac-img {
		float: left;
		width: 48%;
		margin-top: 2%;
	}
	.sem-best {
		float: right;
		width: 100%;
		margin-top: 2em;
	}
	.content {
		background: url(../images/pic4.jpg) no-repeat top;
	}
	.tabs-para h5 {
		margin: 0 0 16em 0;
	}
	.team-right {
		top: 52%;
	}
	.footer-top .nav > li {
		width: 18%;
	}
}
@media (max-width: 384px){
	.copy-right p {
		margin-top: 2em;
		line-height: 1.8em;
	}	
	.logo {
		margin: 10px 0 0 14px;
	}
	.course-submit {
		line-height: 32px;
		padding: 0 16px;
	}
	.person_image {
		width: 39%;
	}
	.entry-item .entry-thumb {
		width: 39%;
	}
	.table h1 {
		font-size: 20px;
	}
	.table h2 {
		font-size: 19px;
	}
	.table h3 {
		font-size: 18px;
	}
	.pagination-lg > li > a, .pagination-lg > li > span {
		padding: 5px 12px;
	}
	.modal-dialog {
		width: 304px;
	}
	.login-left ul li {
		font-size: 13px;
	}
	.login-left ul li a {
		padding: 7px 0 10px 0;
	}
	.login-left ul li a.goog i {
    background:url(../images/social.png) no-repeat -87px 2px;
    width: 34px;
	}
	.login-left ul li a.fb i {
		background:url(../images/social.png) no-repeat -35px 2px;
	}
	.login-left ul li a.linkin i {
		background: url(../images/social.png) no-repeat 0px 2px;
	}
	.login-right h3 {
		font-size: 1.3em;
	}
	.login-right input[type="text"], .login-right input[type="password"] {
		padding: 6px 10px;
	}
	.login-right input[type="submit"] {
		font-size: 17px;
	}
	.login-left ul li {
		margin: 12px 0;
	}
	.form-submit {
		width: 36%;
	}
	.comment_section h4, .comment-form h4,.detail h3 {
		font-size: 1.5em;
	}
	.top-nav {
		width: 44%;
	}
	.banner-info h3 {
		font-size: 14px;
	}
	.banner-info h2 {
		font-size: 1.1em;
	}
	.banner-info a {
		padding: 7px 13px;
	}
	.banner-info h2 {
		margin: 1.5em 0;
	}
	.center-container, .ban-shade {
		min-height: 305px;
	}
	.hi-icon-effect-4 .hi-icon.icon2, .hi-icon-effect-4 .hi-icon.icon1, .hi-icon-effect-4 .hi-icon.icon3 {
		width: 72px;
		height: 72px;
	}
	.abt-icon h4 {
		margin-top: 20px;
	}
	.about-left {
		padding: 4em 1em 0em 1em;
	}
	.about-right {
		padding: 3em 1em 4em 1em;
	}
	.about-left h3, .content h3, .rooms h3, .footer-top h3 {
		font-size: 1.5em;
	}
	.content {
		padding: 4em 0 0 0;
	}
	.content h3 {
		margin-bottom: 1.4em;
	}
	.content-left p {
		margin: 1em 0 1.8em 0;
	}
	.con-left h5 {
		font-size: 1.3em;
	}
	.resp-tab-item {
		margin: 0 .5em 0 0;
		font-size: .9em;
	}
	.sem-left {
		float: left;
		width: 100%;
	}
	.sem-right {
		float: left;
		width: 100%;
	}
	.skills {
		height: 7px;
	}
	.footer-top .nav > li {
		margin: 0 .2em;
	}
	.footer-top .nav > li {
		width: 22%;
	}
	.rooms, .footer-top {
		padding: 4em 0;
	}
	.search-form .form-control, .comment-form .form-control, .contact_form .form-control, .search_form .form-control {
		height: 34px;
	}
	.comment-form textarea {
		min-height: 110px;
	}
	.form-submit input#submit {
		padding: 7px 0;
	}
	.gallery-grid {
		float: left;
		width: 100%;
	}
	.map iframe {
		min-height: 190px;
	}
	.hi-icon-effect-4 .hi-icon.icon2,.hi-icon-effect-4 .hi-icon.icon1,.hi-icon-effect-4 .hi-icon.icon3 {
		background-size: 50% !important;
	}
}
@media (max-width: 320px){
	.link--kumya {
		font-size: .7em;
	}
	.logo a i {
		background: url(../images/logo.png) no-repeat 0px 11px;
		width: 23px;
	}
	.about-gd-left {
		float: left;
		width: 23%;
	}
	.about-gd-right {
		float: right;
		width: 76%;
	}
	.about-gd-right p {
		line-height: 2em;
	}
	.history-left-grid h4, .history-right h4 {
		font-size: 1.4em;
	}
	p.aut, .history-right p {
		line-height: 2em;
	}
	.history-right ul li {
		line-height: 2em;
	}
	.footer-grid h3, .social-grid h3 {
		margin-bottom: .8em;
	}	
	.footer-grid p {
		line-height: 2em;
	}
	.footer-grid:nth-child(2),.footer-grid:nth-child(3), .social-grid {
		margin-top: 1.5em;
	}
	.footer-grid {
		float: left;
		width: 100%;
	}
	.about-grid h4 {
		font-size: 1.6em;
	}
	.table-header > div.name_col {
		width: 47%;
	}
	.table-header > div.duration_col {
		width: 23%;
	}
	.table-header > div.name_col {
		width: 40%;
	}
	.course_list .table-list li > div{
		font-size: 12px;
	}
	.select-block1 select {
		font-size: 13px;
	}
	.person_image {
		width: 43%;
	}
	.person_description p, .banner-info1 p {
		line-height: 2em;
	}
	.entry-item .entry-thumb {
		width: 43%;
	}
	.social-grid input[type="email"] {
		width: 84%;
	}
	.detail p {
		line-height: 2em;
	}
	.author-box_left {
		float: left;
		width: 19%;
	}
	.form-submit {
		width: 40%;
	}
	.author-box {
		margin-bottom: 0em;
	}
	.author-box-right h4 {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 15px;
	}
	.table h2 {
		font-size: 14px;
	}
	.table h3 {
		font-size: 13px;
	}
	.table h4 {
		font-size: 12px;
	}
	.table h5 {
		font-size: 11px;
	}
	.pagination-lg > li > a, .pagination-lg > li > span {
		padding: 3px 9px;
	}
	.modal-dialog {
		width: 270px;
	}
	.modal-body {
		padding: 0px 19px 30px;
	}
	.modal-dialog {
		margin: 4em auto 0;
	}
	h3.tittle {
		font-size: 1.7em;
	}
	.contact-grid input[type="text"], .contact-grid input[type="email"], .contact-grid textarea {
		font-size: 13px;
	}
	.banner-info h3 {
		font-size: 13px;
	}
	.abt-icon {
		width: 100%;
	}
	.abt-icon:nth-child(2) {
		margin: 2em 0;
	}
	.abt-icon h4 {
		font-size: 17px;
	}
	 .content h3 {
		font-size: 1.3em;
	}
	.con-left {
		width: 48%;
		margin: 0 1%;
	}
	.content-left p, .con-left p {
		line-height: 1.8em;
	}
	.con-left span {
		font-size: 1.5em;
		top: -22px;
	}
	.content-right {
		padding: 0;
	}
	.con-left {
		padding: 0 .5em .5em;
	}
	.content-right {
		margin-top: 4em;
	}
	.tabs-para h5 {
		padding: 4em 1.5em 4em;
	}
	.team-right {
		top: 56%;
		width: 86%;
		right: 7%;
	}
	.footer-top .nav > li {
		margin: 0 .1em;
	}
	.banner-info a {
		padding: 5px 9px;
	}
	.resp-tab-item {
		font-size: 1em;
	}
	.course_list .table-list li > div.id_col {
		width: 12%;
	}
	.course_list .table-list li > div.duration_col {
		width: 19%;
	}
	.about-left {
		padding: 3em 1em 0em 1em;
	}
	.about-right {
		padding: 3em 1em 3em 1em;
	}
	.content {
		padding: 3em 0 0 0;
	}
	.content {
		min-height: 45em;
	}
	.rooms, .footer-top {
		padding: 3em 0;
	}
	ul#myTab {
		margin: 0;
	}
}
